<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51835178688-7jgpn4m89n6ruu1j9rmned9n7u26eqsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51835178688-7jgpn4m89n6ruu1j9rmned9n7u26eqsk</string>
	<key>API_KEY</key>
	<string>AIzaSyD5HyhCAUrcHfBdYbDOKced4o_BDhFR-T8</string>
	<key>GCM_SENDER_ID</key>
	<string>51835178688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuma.neetbook-iOS</string>
	<key>PROJECT_ID</key>
	<string>neetbook-71cb0</string>
	<key>STORAGE_BUCKET</key>
	<string>neetbook-71cb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51835178688:ios:1ec7f7ca13eac6446e2725</string>
</dict>
</plist>